:root {
    --primary-color: #0e1332;
    --secondary-color: hsl(263, 100%, 19%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: #0e1332;
    --border-radius: 0.4em;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --skill-bar-length: 0%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}



body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdama, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    min-width: max-content;
    font-size: larger;
    flex-wrap: wrap;
}

main{
    background-color: var(--primary-color);
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #0e1332 21px), repeating-linear-gradient(#08013255, #080132);
    min-width: max-content;
    min-height: 100svh;
    justify-content:center;
    align-items: center;
    display: flex;
    z-index: 1;
}

.main {
    justify-content:center;
    align-items: center;
    max-width: 100svw;
    display: flex;
    flex-wrap: wrap;
    overflow-anchor: 100svw;
}
/* header */
header {
    min-width: max-content;
    opacity: 1;
    background-color: rgb(0, 56, 105, 1);
    z-index: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: max-content;
    padding: 0px 0px 0px 10px;
}

header .logo {
    align-items: center;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    display: flex;
    min-width: max-content;
}

header .logo img {
    width: 45px;
    display: flex;
}
header .logo .Argenmoto{
    margin-top: 15px;
    margin-left: 5px;
    height: 20px;
    width: auto;
    display: flex;
}

.wrapper {
    display: none;
}

.bars {
    display: none;
}

header nav ul {
    display: flex;
    background-color: rgba(16, 105, 156, 0.486);
    border-radius: 0px 0px 0px 15px;
}


header nav ul li a{
    min-width: max-content;
    font-weight: bold;
    font-size: medium;
    padding: 11px 10px;
    border-bottom: solid rgba(16, 105, 156, 0);
}

header nav ul li a:hover {
    background-color: rgba(43, 150, 243, 0.877);
    border-radius: 0px 0px 15px 15px;
    color: #151515;
    border-bottom: solid rgb(1, 6, 70);
}


header nav .Logout a{
    background-color: rgba(173, 27, 27, 0.959);
    margin: 0;
    padding: 6px 25px;
    border-radius: 0px 0px 0px 15px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 20;

}

header nav .Logout a:hover{
    background-color: rgba(248, 10, 10, 0.877);
    border-radius: 0px 0px 0px 15px;
    transition: var(--transition);
    color: #000;
}


header nav a {
    text-decoration: none;
    color: aliceblue;
    display: block;
}

header nav .active{
    background-color: rgb(240, 116, 44);
    border-radius: 0px 0px 15px 15px;
    font-weight: bolder;
    color: #61070c;
    border-bottom: solid rgb(70, 23, 1);
}
header nav .active:hover{
    background-color: rgb(240, 116, 44);
    border-radius: 0px 0px 15px 15px;
    cursor: default;
    font-weight: bolder;
    color: #61070c;
    border-bottom: solid rgb(70, 23, 1);
}



/* final header */

.lateral ul{
    width: 18svh;
    background-color: #2500f8;
    float: left;
    display: flex;
}

.main h1 {
    font-size: larger;
    font-weight: bolder;
    padding: 8px;
}


.main table {
    border: 3px solid #000000;
    border-collapse:collapse;
    background-color: #0077ff;
    width: 100%;
}

.main tbody {
    background-color: #a1a2dd;
    border: 2px solid #0580f3;
    
}

.main thead th,
td {
    border: 2px solid #151515;
}

.main th,
td {
    border: 2px solid #343a3f;
}

.form-container {
    width: 600px;
    min-width: max-content;
    /*min-height: 80svh;*/
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2f2;
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 20px 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


form+p,
form p {
    text-align: center;
}

input,
button {
    background-color: #c2c2c2c2;
    border-radius: var(--border-radius);
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}
input:hover{
    background-color:#d2d2d2d2;
}

.flex-row {
    gap: 10px;
    display: flex;
    flex-direction: row;
}
/*sugestions*/
.suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background: white;
  width: 200px;
  display: none;
}

.suggestions div {
  padding: 8px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #f0f0f0;
}
/* fin */

button {
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: rgb(93, 134, 211);
}

button span{
    font-weight: bolder;
    margin-right: 10px;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 24;
}

.backspace{
    background-color:  rgb(209, 49, 38);
    height: 40px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 30px;
    clip-path: polygon(15px 0%, 100% 0%, 100% 100%, 15px 100%, 0% 50%);
    border-radius: 30px 10px 10px 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 24;
}


.backspace:hover{
    background-color:  rgb(184, 50, 40);
}


.error {
    color: crimson;
}

.escondido {
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* CLIENTES LIST */
.Clientes-container {
    width: 900px;
    min-width: max-content;
    /*min-height: 80svh;*/
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2f2;
    border-radius: var(--border-radius);
    margin: 20px;
    padding: 20px 20px;
}

.Clientes-container .container_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Clientes-container .buscador{
    padding: 5px;
}

.Clientes-container .buscador, .Clientes-container input{
    height: 30px;
    display: flex;
    align-items: center;
}

.Clientes-container .selector select{
    height: 30px;
    min-width: min-content;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.clientes-info-marco{
    display: grid;
    border: 2px #2252d6a8;
    border-style: outset;
    border-radius: var(--border-radius);
    background-color: #d9d9d9d9;
    overflow: hidden;
}

.clientes-info{
    font-weight: 500;
    color: #415899;
    display: flex;
    align-items: center;
    border-radius:  var(--border-radius) var(--border-radius) 0px  0px; 
    border-top: inset 1px #0000007a;
    border-left: inset 2px #0000007a;
    border-right: inset 1px #0000007a;
    border-bottom: inset 1px #0000007a;
}

.clientes-info .id_cliente{
    padding: 3px 1px 3px 15px;
    display: block;
    background-color: #343a3f2c;
    width: 18%;
    border-right: inset 2px #0000007a;
}

.clientes-info .nombre_apellido{
    background-color: #bfc5cea2;
    padding: 3px 1px 3px 15px;
    width: 50%;
    border-right: inset 2px #0000007a;
}

.clientes-info .dni{
    background-color: #bfc5cea2;
    padding: 3px 1px 3px 15px;
    width: 16%;
    border-right: inset 2px #0000007a;
}

.clientes-info .opciones{
    background-color:#9ebceb79;
    padding: 3px 1px 3px 15px;
    width: 16%;
}

.clientes-list{
    margin: 0;
    padding: 0;
    border-radius:  0px  0px var(--border-radius) var(--border-radius) ;
    border-bottom: inset 1px #0000007a;
    border-left: inset 2px #0000007a;
    border-right: inset 1px #0000007a;
}

.cliente{
    font-weight: normal;
    color: #454546;
    display: flex;
    align-items: center;
    border-top: outset 1px #0000007a;
}


.cliente .id_cliente{
    background-color: #a0a1a12c;
    padding: 3px 1px 3px 8px;
    width: 18%;
    height: 30px;
    border-right: inset 2px #0000007a;
}

.cliente .nombre_apellido{
    background-color: #d4d5d6;
    padding: 3px 1px 3px 10px;
    width: 50%;
    height: 30px;
    border-right: inset 2px #0000007a;
}

.cliente .dni{
    background-color:#d4d5d6;
    padding: 3px 1px 3px 10px;
    width: 16%;
    height: 30px;
    border-right: inset 2px #0000007a;
}

.cliente .opciones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#bbc6d1;
    width: 16%;
    height: 30px;
}

.cliente .client_edit_btn , .cliente .client_info_btn{
    background-color:  rgb(38, 126, 209);
    height: 20px;
    width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 50,
    'opsz' 24;
}

.cliente .client_edit_btn:hover , .cliente .client_info_btn:hover{
    background-color: #0077ff;
    color: #000;
}

.cliente .client_delete_btn{
    background-color:  rgb(209, 49, 38);
    height: 20px;
    width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 50,
    'opsz' 24;
}

.cliente .client_delete_btn:hover {
    background-color:  rgb(231, 36, 22);
    color: #000;
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 50,
    'opsz' 24;
}

.nav_pages ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_pages ul li {
    margin: 5px 10px 0px 10px;
}

.nav_pages ul li a{
    font-weight: bolder;
    color: rgb(2, 4, 107);
}
.nav_pages ul li a:hover{
    
    color: rgb(10, 80, 231);
}

.nav_pages span{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 50,
    'opsz' 24;
}


/* FOOTER */
.footer {
    display: flex;
    align-items: top;
    float: flex;
    justify-content: center;
    background-color: #3da7e9;
    color: #ffffff;
}

.alumno {
    display: block;
    padding: 50px;
}

.selector {
    display: flex;
}

.bloque_selector {
    justify-content: center;
    padding: 50px;
}

.texto_derecho {
    justify-content: center;
    display: block;
}

/* FINAL DE FOOTER */